*{
    margin:0;
    padding:0;
    font-family:'Trebuchet MS';
}
@font-face{
    font-family:"Lekton-Bold";
    src:url("fonts/Lekton-Bold.ttf");
}
html body{
    position:relative}
nav{
    background:#1C384A;
    text-align:center;
    height:60px;   
}
nav > ul{
    display:flex;
    flex-direction:row;
    width:50%;
    margin:auto;
    list-style:none;
    justify-content: space-between;
}
nav > ul > li>a{
    color:#BB9C2A;
    text-decoration:none;
}
.blue-background{
    background:#47C1DC;
}
.blue-content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin:0 auto;
    max-width:700px;
    width:auto;
    padding:30px 0;
}
.tickybot{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    width:300px;
    text-align:center;
    
}
.tickybot p:nth-child(1){
    font-size:50px;
    opacity:0.8;
    margin-bottom:10px;
}
.tickybot p:nth-child(2){
    color:white;
    opacity:0.8;
}
.tickybot button{
    background:white;
    width:180px;
    height:40px;
    color:#333;
    border:none;
    margin:20px 0;
    
}
.yellow-circle{
    width:300px;
    height:300px;
    background:linear-gradient(180deg, #F0DE38 80%, #F1BB27 20%);
    border-radius:100%;
    position:relative;
    margin-right:20px;
}
.yellow-circle img{
    width:200px;
    height:200px;
    position:absolute;
    bottom:60px;
    margin:0 auto;
    right:0;
    left:0;
}

.yellow-circle >img:hover{
    animation-name:roll;
    animation-duration: 1s;
    animation-iteration-count: infinite;  
}
@keyframes roll{
    0% {transform: translateY(0px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}
.white-background{
    background:white;
    padding:0 10% 10%;
}
.white-background >p:nth-child(1){
    text-align:center;
    font-size:35px;
    opacity:0.8;
}
.white-background >p{
    margin-top:2rem;
}
.hr{
    background:#47C1DC;
    width:120px;
    height:3px;
    border-radius:25%;
    margin:0 auto;
}
.left{
    float:left;
    clear:both;
    width:45%;
    padding-right:10px;
}
.green-background{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    background:#26AB76;
    text-align:center;
    align-content:center;
    padding:20px 0;
}
.green-background h2{
    margin-bottom: 40px;
    opacity:0.8;
    font-size:45px;
}
.pages{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    flex-shrink: 1 1 1;
    align-items:center;
}
.page{
    width:250px;
    height:350px;
    background:white;
    margin:25px 20px;
    font-size:15px;
}
.page span p{
    padding: 4px;
}
.top-inner{
    height:80%;
    background:#282E43;
}
.top-inner img{
    width:150px;
    height:150px;
    margin-top:15%;
}
#red{
    color:darkred;
    background:#DBCEC7;
    border-radius:5px;
    padding:0 6px;
    font-size:12px;
    font-family:"Lekton-Bold"
}
.linear-grey{
    background:linear-gradient(180deg, #FAFBF9, #BEBFBA);
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    padding:15px;
    color:#232538
}
.linear-grey p{
    text-align:center;
}
#padding{
    margin:20px 0 0;
}
.linear-grey> button{
    background:#201721;
    width:180px;
    height:40px;
    color:white;
    border:none;
    margin:20px 0;
}
#fix-me{
    width:auto;
    height:auto;
    max-width:30px;
    max-height:30px;
    background:#CEC61C;
    padding:1%;
    border-radius:5px;
    position:fixed;
    right:2vw;
    bottom:3rem;
}
#fix-me:hover{
    animation-name:fix;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes fix{
    0% {transform: translateY(0px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}
footer{
    background:#232538;
    padding:10px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-content:center;
    color:white;
    font-size:15px;
}
footer p{
    font-size:14px;
    opacity:0.8;
}
footer a{
    color:white;
}
button img{
    width:auto;
    height:auto;
    max-width:25px;
    max-height:25px;
    vertical-align:middle;
    margin-right:7px;
     
}
button{
    outline:none;
    cursor:pointer;
}
button>img:hover{
    animation-name:spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;  
}
@keyframes spin{
    0% {transform: translateY(0px)}
    50% {transform: translateY(-3px)}
    100% {transform: translateY(0px)}
}
/* media queries*/
@media screen and (max-width:869px){
.pages{
    width:70%;
}
}
@media screen and (max-width:830px){
.pages{
    width:73%;
}
}
@media screen and (max-width:795px){
.pages{
    width:85%;
}
}
@media screen and (max-width:684px){
.pages{
    width:90%;
}
}
@media screen and (max-width:645px){
.pages{
    width:100%;
}
}
@media screen and (max-width:611px){
.pages{
    flex-direction:column;
}
}
@media screen and (max-width:620px){
    
.blue-content{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    align-items:center;
    padding:30px 0;
}
nav > ul{
    display:flex;
    flex-direction:row;
    width:70%;
    margin:auto;
    list-style:none;
    justify-content: space-between;
}
    
.yellow-circle{
    margin-right:0;
}
}